/*
Description: Profile Settings
Author: Sam Boniface
Version: 1.0
*/

/* Phone (portrait) */
@media screen and (min-width:300px) and (max-width:415px) and (orientation:portrait){
	main section.column a#cv-download {
		position: absolute;
		height: 10%;
		width: 30%;
		bottom: 20%;
		right: 12%;
		font-size: 3vw;
		line-height: 6vw;
		font-weight: bold;
		text-align: center;
		border: 3px grey outset;
		border-radius: 20px;
		color: black;
		background-color: white;
		text-decoration: none;
	}
	
	main section.column div#profile-info {
		position: absolute;
		top: 20%;
		right: 13%;
		margin: auto;
		text-align: center;
	}
	
	main section.column img#profile-pic {
		position: absolute;
		top: 6%;
		left: 7%;
		width: 40%;
		height: auto;
		box-shadow: 0 0 10px white;
	}
	
	main section#profile-left {
		position: relative;
		height: 43%;
		margin: 2% 0%;
	}
	
	main section#profile-mid {
		position: relative;
	}
	
	main section#profile-mid h2 {
		font-size: 4vw;
		text-transform: uppercase;
		margin-bottom: 1%;
	}
	
	main section#profile-mid ul {
		margin-bottom: 5%;
	}
	
	main section#profile-qual {
		position: relative;
		height: 75%;
	}
	
	main section#profile-qual a.qual-link {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 10%;
		margin-top: 0%;
		margin-bottom: 2%;
	}
	
	main section#profile-qual a.qual-link img.qual-icon {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		height: 100%;
		width: auto;
	}
	
	main section#profile-qual h2 {
		font-size: 4vw;
		text-transform: uppercase;
		margin-bottom: 1%;
		text-align: center;
	}
	
	main section#profile-qual h3 {
		position: relative;
		display: inline-block;
		width: 100%;
		font-size: 3vw;
		margin-top: 2%;
		margin-bottom: 2%;
		text-align: center;
	}
	
	main section#profile-right {
		position: relative;
	}
	
	main section#profile-right h2 {
		font-size: 4vw;
		text-transform: uppercase;
		margin-bottom: 1%;
	}
	
	ul {
		list-style: disc;
		padding-left: 5%;
	}
}

/* Phone (landscape) */
@media screen and (min-width:568px) and (max-width:737px) and (orientation:landscape){
	main section.column a#cv-download {
		position: absolute;
		height: 7%;
		width: 40%;
		top: 80%;
		left: 0;
		right: 0;
		margin: auto;
		font-size: 1.5vw;
		line-height: 3vw;
		font-weight: bold;
		text-align: center;
		border: 3px grey outset;
		border-radius: 20px;
		color: black;
		background-color: white;
		text-decoration: none;
	}
	
	main section.column div#profile-info {
		position: absolute;
		top: 55%;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		font-size: 1.3vw;
		line-height: 1.5vw;
	}
	
	main section.column img#profile-pic {
		position: absolute;
		top: 1%;
		left: 0;
		right: 0;
		margin: auto;
		width: 80%;
		height: auto;
		box-shadow: 0 0 10px white;
	}
	
	main section#profile-left {
		position: absolute;
		top: 0;
		left: 1%;
		width: 15%;
	}
	
	main section#profile-mid {
		position: absolute;
		top: -2%;
		left: 34%;
		width: 30%;
	}
	
	main section#profile-mid h2 {
		font-size: 1.5vw;
		text-transform: uppercase;
		margin-bottom: 2%;
	}
	
	main section#profile-mid ul {
		margin-bottom: 5%;
	}
	
	main section#profile-qual {
		position: absolute;
		top: -2%;
		left: 17%;
		width: 14%;
	}
	
	main section#profile-qual a.qual-link {
		position: relative;
		display: inline-block;
		width: 90%;
		height: 6%;
		padding: 5%;
		margin-bottom: 2%;
	}
	
	main section#profile-qual a.qual-link img.qual-icon {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		height: 100%;
		width: auto;
	}
	
	main section#profile-qual h2 {
		font-size: 1.5vw;
		text-transform: uppercase;
		margin-bottom: 2%;
		text-align: center;
	}
	
	main section#profile-qual h3 {
		position: relative;
		font-size: 1.2vw;
		line-height: 1.5vw;
		margin-top: 4%;
		margin-bottom: 4%;
		text-align: center;
	}
	
	main section#profile-right {
		position: absolute;
		top: -2%;
		left: 69%;
		width: 26%;
	}
	
	main section#profile-right h2 {
		font-size: 1.2vw;
		text-transform: uppercase;
		margin-bottom: 1%;
	}
	
	ul {
		list-style: disc;
		padding-left: 7%;
	}
}

/* Tablet (portrait) */
@media screen and (min-width:600px) and (max-width:800px) and (orientation:portrait){
	main section.column a#cv-download {
		position: absolute;
		height: 12%;
		width: 30%;
		bottom: 20%;
		right: 12%;
		font-size: 3vw;
		line-height: 5vw;
		font-weight: bold;
		text-align: center;
		border: 3px grey outset;
		border-radius: 20px;
		color: black;
		background-color: white;
		text-decoration: none;
	}
	
	main section.column div#profile-info {
		position: absolute;
		top: 15%;
		right: 13%;
		margin: auto;
		text-align: center;
	}
	
	main section.column img#profile-pic {
		position: absolute;
		top: 0%;
		left: 7%;
		width: 35%;
		height: auto;
		box-shadow: 0 0 10px white;
	}
	
	main section#profile-left {
		position: relative;
		height: 37%;
	}
	
	main section#profile-mid {
		position: relative;
	}
	
	main section#profile-mid h2 {
		font-size: 3.2vw;
		text-transform: uppercase;
	}
	
	main section#profile-mid ul {
		margin-bottom: 5%;
	}
	
	main section#profile-qual {
		position: relative;
		height: 95%;
	}
	
	main section#profile-qual a.qual-link {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 10%;
		margin-top: 0%;
		margin-bottom: 2%;
	}
	
	main section#profile-qual a.qual-link img.qual-icon {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		height: 100%;
		width: auto;
	}
	
	main section#profile-qual h2 {
		font-size: 3.2vw;
		text-transform: uppercase;
		margin-bottom: 1%;
		text-align: center;
	}
	
	main section#profile-qual h3 {
		position: relative;
		display: inline-block;
		width: 100%;
		font-size: 2.5vw;
		margin-top: 2%;
		margin-bottom: 2%;
		text-align: center;
	}
	
	main section#profile-right {
		position: relative;
	}
	
	main section#profile-right h2 {
		font-size: 3.2vw;
		text-transform: uppercase;
		margin-bottom: 1%;
	}
	
	ul {
		list-style: disc;
		padding-left: 5%;
	}
}

/* Tablet (landscape) */
@media screen and (min-width:740px) and (max-width:1024px) and (orientation:landscape){
	main section.column a#cv-download {
		position: absolute;
		height: 6%;
		width: 40%;
		top: 75%;
		left: 0;
		right: 0;
		margin: auto;
		font-size: 1.2vw;
		line-height: 3vw;
		font-weight: bold;
		text-align: center;
		border: 3px grey outset;
		border-radius: 20px;
		color: black;
		background-color: white;
		text-decoration: none;
	}
	
	main section.column a#cv-download:hover {
		color: white;
		background-color: red;
	}
	
	main section.column div#profile-info {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		font-size: 1.2vw;
		line-height: 1.6vw;
	}
	
	main section.column img#profile-pic {
		position: absolute;
		top: 1%;
		left: 0;
		right: 0;
		margin: auto;
		width: 90%;
		height: auto;
		box-shadow: 0 0 10px white;
	}
	
	main section#profile-left {
		position: absolute;
		top: 0%;
		left: 1%;
		width: 15%;
	}
	
	main section#profile-mid {
		position: absolute;
		top: -1%;
		left: 35%;
		width: 30%;
	}
	
	main section#profile-mid h2 {
		font-size: 1.5vw;
		text-transform: uppercase;
		margin-bottom: 1%;
	}
	
	main section#profile-mid ul {
		margin-bottom: 5%;
	}
	
	main section#profile-qual {
		position: absolute;
		top: -1%;
		left: 18%;
		width: 14%;
	}
	
	main section#profile-qual a.qual-link {
		position: relative;
		display: inline-block;
		width: 90%;
		height: 9%;
		padding: 5%;
		margin-bottom: 2%;
	}
	
	main section#profile-qual a.qual-link img.qual-icon {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		height: 100%;
		width: auto;
	}
	
	main section#profile-qual h2 {
		font-size: 1.5vw;
		text-transform: uppercase;
		margin-bottom: 1%;
		text-align: center;
	}
	
	main section#profile-qual h3 {
		position: relative;
		font-size: 1.3vw;
		margin-top: 2%;
		margin-bottom: 2%;
		text-align: center;
	}
	
	main section#profile-right {
		position: absolute;
		top: -1%;
		left: 69%;
		width: 26%;
	}
	
	main section#profile-right h2 {
		font-size: 1.5vw;
		text-transform: uppercase;
		margin-bottom: 1%;
	}
	
	ul {
		list-style: disc;
		padding-left: 7%;
	}
}

/* Standard */
@media screen and (min-width:1025px) and (max-width:1920px) and (orientation:landscape){
	main section.column a#cv-download {
		position: absolute;
		height: 4.5%;
		width: 40%;
		top: 85%;
		left: 0;
		right: 0;
		margin: auto;
		font-size: 1.2vw;
		line-height: 1.5vw;
		font-weight: bold;
		text-align: center;
		border: 3px grey outset;
		border-radius: 20px;
		color: black;
		background-color: white;
		text-decoration: none;
	}
	
	main section.column a#cv-download:hover {
		color: white;
		background-color: red;
	}
	
	main section.column div#profile-info {
		position: absolute;
		top: 61%;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
	}
	
	main section.column img#profile-pic {
		position: absolute;
		top: 3%;
		left: 0;
		right: 0;
		margin: auto;
		width: 80%;
		height: auto;
		box-shadow: 0 0 10px white;
	}
	
	main section#profile-left {
		position: absolute;
		top: 0;
		left: 0;
		width: 15%;
	}
	
	main section#profile-mid {
		position: absolute;
		top: -2%;
		left: 34%;
		width: 30%;
	}
	
	main section#profile-mid h2 {
		font-size: 1.2vw;
		text-transform: uppercase;
		margin-bottom: 1%;
	}
	
	main section#profile-mid h2:first-of-type {
		top: -1%;
	}
	
	main section#profile-mid ul {
		margin-bottom: 5%;
	}
	
	main section#profile-qual {
		position: absolute;
		top: -2%;
		left: 16%;
		width: 14%;
	}
	
	main section#profile-qual a.qual-link {
		position: relative;
		display: inline-block;
		width: 90%;
		height: 9%;
		padding: 5%;
		margin-bottom: 2%;
	}
	
	main section#profile-qual a.qual-link img.qual-icon {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		height: 100%;
		width: auto;
	}
	
	main section#profile-qual h2 {
		font-size: 1.2vw;
		text-transform: uppercase;
		margin-bottom: 1%;
		text-align: center;
	}
	
	main section#profile-qual h3 {
		position: relative;
		font-size: 0.9vw;
		margin-top: 2%;
		margin-bottom: 2%;
		text-align: center;
	}
	
	main section#profile-right {
		position: absolute;
		top: -2%;
		left: 69%;
		width: 26%;
	}
	
	main section#profile-right h2 {
		font-size: 1.2vw;
		text-transform: uppercase;
		margin-bottom: 1%;
	}
	
	main section#profile-right h2:first-of-type {
		top: -1%;
	}
	
	ul {
		list-style: disc;
		padding-left: 5%;
	}
}